* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --navy: #1B263B;
    --navy-text: #293e64;
    --gold: #B8860B;
    --light-gold: #dfa40f;
    --beige: #F5F5DC;
    --grey-text: #7D7D7D;
    --light-grey: #c7c7c7;
    --perenne-grey: #4A5C5A;
    --white: hsl(0, 0%, 100%);
}


body {
    overflow-x: hidden;
}

html {
  scroll-padding-top: 90px;
}

a {
    text-decoration: none;
}

#success-message {
    display: none;
    color: #28a745;
    font-weight: bold;
    margin: 15px 0;
    padding: 10px;
    background-color: #e1ffe1;
    border-radius: 4px;
    border-left: 4px solid #28a745;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
}



.free-quote {
    text-align: center;
    margin-left:0px;
    line-height: 2.5;
    height: 40px;
    width: 130px;
    border-radius: 2px;
    color: var(--white);
    background-color: #dfa40f;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    text-wrap: nowrap;
}

.free-quote::before {
    content: "\ea50";
    font-family: 'boxicons';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background-color: rgba(206, 152, 14, 0.8);
    border-radius: 0 50% 50% 0;
    transform: translateX(-20%) scale(0, 1);
    transform-origin: left center;
    transition: all 0.25s;
    z-index: 1;
}

.free-quote:hover {
    padding-left: 30px;
}

.free-quote:hover::before {
    transform: translateX(-20%) scale(1, 1);
}



/* Header */

#burguer-btn {
    display: none;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5em;
    color: var(--white);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0 8vw;
    width: 100%;
    height: 90px;
    background-color: var(--navy);
    color: var(--white);
    box-shadow: 0 2px 10px rgba(15, 15, 15, 0.1);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 1000;
}

.header.scrolled {
  background-color: #1b263ba8;
  backdrop-filter: blur(10px);
}

.header__logo a {
    color: var(--white);
    font-size: 1.8em;
    font-weight: bold;
    text-wrap: nowrap;
}

.header__nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    display: flex;
    transform: translateX(0%);
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.header__nav-item a {
    color: var(--white);
    font-size: 1.08em;
    font-weight: 500;
    text-wrap: nowrap;
}

.nav-link.active {
  color: var(--light-gold);
  border-radius: 4px;
}

.header__nav-item a:hover {
    color: var(--gold);
    transition: all 0.3s ease;
}

.header__socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__socials a {
    color: var(--white);
    font-size: 1.5em;
    transition: all 0.3s ease;
    aspect-ratio: 1 / 1;
    padding-top: 4px;
}

.header__socials a:hover {
    color: var(--gold);
}

/* Hero Section */
.hero__section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0)), url(/static/hero-img.jpg);
    background-size: cover;
    background-position: center;
    color: var(--white);
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 0 10px;
}

.hero__content h1 {
    font-size: clamp(3rem, 6vw, 4.5rem);
    font-weight: 700;
}

.hero__content p {
    font-size: clamp(1rem, 1.5vw, 1rem);
    max-width: 80%;
    color: var(--light-grey);
}



.cta-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    color: var(--white);
    font-weight: bold;
    font-size: 1.1em;
    background-color: var(--navy);
    padding: 13px 30px;
    border-radius: 2px;
}

.cta-btn:hover {
    background-color: #1b263be1;
    transition: all 0.3s ease;
}

.cta-btn i {
    font-size: 1.2em;
    margin-top: 2px;
}

/* About Us Section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 8vw;
    height: 80vh;
    margin-bottom: 5em;
}

.about__content {
    display: flex;
    align-items: center;
    margin: auto;
    height: fit-content;
    width: 100%;
    gap: 80px;
}

.about__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about__content img {
  min-height: 250px;
  max-height: 400px;
  object-fit: contain;
  border-radius: 30px;
  border: 3px solid var(--white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.about__text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left;
    gap: 20px;
}

.about__text span {
    color: var(--gold);
}

.about__text h3 {
    font-size: clamp(2rem, 3vw, 2.2em);
    font-weight: 700;
    color: var(--navy-text);
}

.about__text p {
    font-size: 1.08em;
    line-height: 1.4;
    color: #4B5563;
    width: 100%;
}

.about__skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    gap: 15px;
    width: 100%;
}

.about__skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 140px;
    background-color: #f5f4dd;
    border-radius: 10px;
}

.about__skill-item i {
    font-size: 2em;
    color: var(--navy-text);
}

.about__skill-item span {
    font-size: 1.8em;
    font-weight: 600;
    color: var(--navy-text);
}

.about__skill-item p {
    font-size: .9em;
    color: var(--navy-text);
    font-weight: 400;
}


/* Services Section */
.services__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background: linear-gradient(to bottom, var(--beige), var(--white));
    padding-top: 80px;
    padding-right: 30px;
    padding-left: 30px;
}

.services__header h3 {
    font-size: clamp(2rem, 3vw, 2.2em);
    font-weight: 700;
    color: var(--navy-text);
}


.separator {
    width: 100px;
    height: 4px;
    background-color: var(--gold);
    margin: auto;
    margin: 20px auto;
}

.services__header p {
    font-size: clamp(1rem, 1.5vw, 1rem);
    max-width: 60%;
    color: var(--grey-text); 
    margin: auto;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin-top: 30px;
    gap: 30px;
}

.service__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    border: 1px solid #e5d1b3;
    gap: 15px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    gap: 15px;
}

.service__content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.service__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--beige);
    font-size: 2.5em;
    color: var(--navy-text);
}

.service__item h4 {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--navy);
}

.service__description {
    color: var(--navy);
    text-align: center;
    font-weight: 300;
}

.view-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    background: linear-gradient(to right, var(--beige), #e5d1b3);
    color: var(--navy);
    border: none;
    font-weight: 400;
    font-size: .9em;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.service__item button:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

.service__item button i {
    font-size: 1.1em;
    margin-left: 5px;
    margin-top: 3px;
}

.service__dialog {
    border: none;
    text-align: left;
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    margin: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 25px 20px;
}

.service__dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.service__dialog-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.service__dialog-header h4 {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--navy-text);
}

.service__dialog-text {
    font-weight: 400;
    margin-bottom: 15px;
    padding: 0 20px;
}

.service__dialog-text-2 {
    font-size: 1.08em;
    font-weight: 300;
    color: var(--navy);
    line-height: 1.5;
    padding: 0 20px;
}

.modal-close-btn {
    border: none;
    border-radius: 5px;
    background-color: var(--navy-text);
    color: var(--white);
    padding: 8px 20px;
    font-size: .9em;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/* Brands Section */
.brands__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5em 2vw;
    background-color: var(--beige);
    margin-top: 3em;
}

.brands__section h3 {
    font-size: clamp(2rem, 3vw, 2.2em);
    font-weight: 700;
    color: var(--navy-text);
}

.brands__section p {
    font-size: clamp(1rem, 1.5vw, 1rem);
    max-width: 80%;
    color: var(--grey-text); 
    margin: auto;
}

.brands__section ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
}

.brands__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.brands__container img {
    min-height: 50px;
    height: 50px;
    object-fit: contain;
}

.brands__container img:last-child {
    height: 100px;
}


/* Testimonials Section */

.testimonials__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5em 2vw;
    background-color: var(--beige);
}

.testimonials__section h3 {
    font-size: clamp(2rem, 3vw, 2.2em);
    font-weight: 700;
    color: var(--navy-text);
}

.testiomials__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 90%;
    gap: 60px;
    margin-top: 50px;
}

.testimony {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: fit-content;
    min-height: 290px;
}

.quote {
    font-size: 2.8em;
    color: var(--gold);
    position: absolute;
    left: -15px;
    top: -15px;
}

.bxs-star {
    font-size: 1.4em;
    color: var(--gold);
}

.testimony__text {
    font-size: 1.08em;
    color: var(--navy);
    line-height: 1.5;
    margin-top: 20px;
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: var(--navy-text);
    opacity: .2;
    margin: 20px 0;
}

.testimony span {
    font-weight: 600;
    color: var(--navy-text);
}

.testimony__location {
    font-size: .9em;
    margin-top: 5px;
    color: var(--navy);
    font-weight: 300;
}


/* Form Section */

.form__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 90%;
    margin: auto;
}

.form__section h3 {
    font-size: clamp(2rem, 3vw, 2.2em);
    font-weight: 700;
    color: var(--navy-text);
    text-align: center;
}

.form__section p {
    font-size: clamp(1rem, 1.5vw, 1rem);
    max-width: 80%;
    color: var(--grey-text); 
    margin: auto;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: fit-content;
    width: calc(100% - 80px);
    border-radius: 10px;
    max-width: 900px;
    padding: 30px 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--beige);
    margin: 50px 0;
}

.form div {
    display: flex;
    gap: 30px;
}

.form__container {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.form__group label, .form__container label { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--navy-text);
    font-weight: 500;
}

.form__group input, .form__group select {
    width: 100%;
    padding: 12px 10px;
    border-radius: 8px;
    border: 1px solid #e5d1b3;
    background-color: var(--white);
}

.textarea-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--navy-text);
    font-weight: 500;
}

.textarea-label textarea {
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #e5d1b3;
    background-color: var(--white);
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    border: none;
    background-color: var(--navy-text);
    color: var(--white);
    font-weight: 500;
    font-size: 1.08em;
    cursor: pointer;
}

button[type="submit"] i {
    transform: rotate(-50deg);
}

button[type="submit"]:hover {
    background-color: #1b263be1;
    transition: all 0.3s ease;
}


/* Footer Section */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--navy);
    color: var(--white);
    height: 30vh;
}

.footer__socials-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.footer__address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__address p {
    font-size: 1.08em;
    color: var(--grey-text);
}

.footer__socials-list a {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--white);
    margin-right: 10px;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.footer__socials a {
    color: var(--white);
    font-size: 1.5em;
    transition: all 0.3s ease;
}

.footer__socials a:hover {
    color: var(--gold);
}

.footer__services-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.footer__services-list span {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 10px;
}

.footer__services-list button {
    background-color: transparent;
    border: none;
    color: var(--grey-text);
    font-size: 1.08em;
    font-weight: 500;
    cursor: pointer;
}

.footer__services-list button:hover {
    color: var(--white);
    transition: all 0.3s ease;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.footer__nav-list span {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 10px;
}

.footer__nav-list li a {
    color: var(--grey-text);
    font-size: 1.08em;
    font-weight: 500;
}

.footer__cta-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    gap: 15px;
}

.footer__cta-list p {
    font-size: 1.08em;
    color: var(--grey-text);
}

@media (max-width: 1350px) {
    #about {
        margin-bottom: 5em;
    }
}

@media (max-width: 1200px) {
    .header__logo a {
        font-size: 1.5em;
    }

    #about {
        margin-bottom: 17em;
    }

    .about__content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about__image-container {
        width: 100%;
    }

    .about__image-container img {
        height: 300px;
        border-radius: 30px;
        border: 3px solid var(--white);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .about__text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .services__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .testiomials__container {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        gap: 60px;
    }
}

@media (max-width: 1025px) {
    #burguer-btn {
        display: block;
    }

    .header__nav {
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        position: absolute;
        top: 90px;
        right: 0;
        width: 45%;
        height: calc(100vh - 90px);
        padding: 50px;
        z-index: 1000;
        pointer-events: none;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
        background-color: rgba(255, 255, 255, 0.945);
    }

    .header__nav.show {
        transform: translateX(0%);
        opacity: 1;
        pointer-events: auto;
    }

    .header__nav-list {
        flex-direction: column;
        align-items: flex-end;
        gap: 25px;
    }

    .header__nav-item a {
        color: var(--navy);
        font-size: 1.2em;
    }

    .header__nav-item a:hover,
    .header__socials a i:hover {
        color: var(--gold);
    }

    .header__socials a {
        color: var(--navy);
    }

    .free-quote {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        width: 130px;
        height: 40px;
        font-size: 0.9em;
    }

    .footer__nav-list {
        display: none;
    }

    #about {
        margin-bottom: 25em;
    }
}

@media (max-width: 900px) {
    .about__text {
        text-align: center;
        align-items: center;
    }

    .about__text p {
        width: 100%;
    }

    .footer__services-list {
        display: none;
    }

}

@media (max-width: 768px) {
    .services__section {
        padding-top: 80px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .services__container {
        grid-template-columns: 1fr;
    }

    .services__header p {
        max-width: 100%;
    }

    .brands__section ul {
        flex-direction: column;
        align-items: center;
    }

    .brands__section img {
        height: 50px;
        width: fit-content;
        margin-top: 20px;
    }

    #about {
        margin-bottom: 30em;
    }

    .form__section {
        padding: 20px;
    }

    .form {
        width: 100%;
    }

    .form__container {
        flex-direction: column;
    }

    .footer {
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .footer__socials-list,
    .footer__services-list,
    .footer__cta-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .footer__socials {
        margin-top: 0;
        justify-content: center;
    }

    .footer__socials a {
        margin-top: 4px;
        margin-right: 0px;
    }

    .footer__services-list {
        display: flex;
    }

    .footer__socials-list {
        gap: 15px;
    }

    .footer__cta-list p {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .header__nav {
        width: 60%;
    }

    .cta-btn {
        font-size: 0.9em;
        padding: 9px 20px;
        border-radius: 3px;
    }

    .brands__section img {
        height: 35px;
        width: fit-content;
    }


    #about {
        margin-bottom: 35em;
    }

}

@media (max-width: 340px) {
    #about {
        margin-bottom: 45em;
    }
}


.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}